<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block titulo %} Club Campo Pancho {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-light">
   <nav class="navbar navbar-expand-lg navbar-dark shadow" style="background-color: #1a5928;">
        <div class="container">
            <a class="navbar-brand fw-bold" href="{% url 'inicio' %}">Campo Pancho</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="navbar-nav ms-auto">
                    <a class="nav-link active" href="{% url 'inicio' %}">Inicio</a>
                    <a class="nav-link" href="{% url 'crear_categoria' %}">Nueva Categoría</a>
                    <a class="nav-link" href="{% url 'crear_jugador' %}">Nuevo Jugador</a>
                    <a class="nav-link" href="{% url 'crear_solicitud' %}">Inscribir</a>
                    <a class="nav-link" href="{% url 'buscar_jugador' %}">Buscar Jugador</a>
                </div>
            </div>
         </div>
    </nav>

    <div class="container mt-5">
        <div class="card shadow-sm p-4">
            {% block contenido %}
            {% endblock %}
        </div>
    </div>

    <footer class="text-center mt-5 py-3 text-muted">
        <p>&copy; 2025 - Entrega N° 3 Python</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>